<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- showList -->
  <div class="row" *ngIf="showList">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Message List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Number</th>
                <th scope="col">Created At</th>
                <th scope="col">Message</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngIf="getMessageResponse == undefined">
              <!-- show loading -->
              <tr>
                <td colspan="3">
                  <div class="text-center">
                    <!-- loading.gif with size 50x50 -->
                    <img src="../assets/img/theme/loading.gif" width="50" height="50">
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="getMessageResponse != undefined">
              <tr *ngFor="let userChat of getMessageResponse.lstUserChat">
                <!-- followUp -->
                <th scope="row" *ngIf="userChat.followUp == 'yes'" style="background-color: #f75575; color: white;">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/istockphoto.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{userChat.userNumber}}</span>
                    </div>
                  </div>
                </th>
                <td *ngIf="userChat.followUp == 'yes'" style="background-color: #f75575; color: white;">
                  {{userChat.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td *ngIf="userChat.followUp == 'yes'" style="background-color: #f75575; color: white;">
                  <!-- wrap text -->
                  <div class="text-wrap">
                    In :
                    <br>{{userChat.messageIn}}
                    <br><br>
                    Out :
                    <br>{{userChat.messageOut}}
                  </div>
                </td>
                <td *ngIf="userChat.followUp == 'yes'" style="background-color: #f75575; color: white;">
                  <button type="button" class="btn btn-primary" (click)="getMessages(userChat.userNumber)" [disabled]="clicked">View</button>
                </td>
                <!-- followUp -->

                <!-- not followUp -->
                <th scope="row" *ngIf="userChat.followUp == 'no'">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/istockphoto.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{userChat.userNumber}}</span>
                    </div>
                  </div>
                </th>
                <td *ngIf="userChat.followUp == 'no'">
                  {{userChat.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td *ngIf="userChat.followUp == 'no'">
                  <!-- wrap text -->
                  <div class="text-wrap">
                    In :
                    <br>{{userChat.messageIn}}
                    <br><br>
                    Out :
                    <br>{{userChat.messageOut}}
                  </div>
                </td>
                <td *ngIf="userChat.followUp == 'no'">
                  <button type="button" class="btn btn-primary" (click)="getMessages(userChat.userNumber)" [disabled]="clicked">View</button>
                </td>
                <!-- not followUp -->
              </tr>
              <tr *ngIf="userNumber != ''">
                <td colspan="4">
                  <div class="text-right">
                    <button type="button" class="btn btn-primary" (click)="getMessages('')" [disabled]="clicked">Clear</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>      
    </div>
  </div>
  <!-- showList -->

</div>
